<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/calendar.js') }}"></script>

    <title>Agenda</title>
</head>
<body>
    <header>
        <div class="header">
            <p class="title">Agenda</p>
            <a href="/user-page"><img class="usericon" src="{{ url_for('static', filename='img/user_icon.png') }}" width="50" height="50"/></a>
        </div>
    </header>

    <!-- div do calendario -->
    <div class="conteudo">
        <div class="calendario">
            <header>
                <h2 id="mes">Abril</h2>
                <a class="bnt-ant" id="bnt_prev"><</a>
                <a class="bnt-pro" id="bnt_next">></a>
            </header>
            <table>
                <tdhead>
                    <tr>
                        <td>Dom</td>
                        <td>Seg</td>
                        <td>Ter</td>
                        <td>Qua</td>
                        <td>Qui</td>
                        <td>Sex</td>
                        <td>Sab</td>
                    </tr>
                </tdhead>
                <tbody id="dias">
                    <tr>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                    </tr>
                    <tr>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                    </tr>
                    <tr>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                    </tr>
                    <tr>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                    </tr>
                    <tr>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                    </tr>
                    <tr>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                        <td><button type="button" id="teste">1</button></td>
                    </tr>
                </tbody>
            </table>
            <footer>
                <h2 id="ano"></h2>
            </footer>
        </div>
    </div>
</body>
</html>