<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-page.css') }}">
    <title>User</title>
</head>
<body>
    <div class="smartphone">
        <div class="content">
            <p class="title">Olá {{ user[0] }}</p>
            <a href="/"><button class="button">Deslogar</button><a/>
            <a href="/agenda"><button class="button">Voltar</button><a/>
            <form action="/delete-user" method="POST">
                <button class="button" type="submit">Deletar conta</button>
            </form>
        </div>
    </div>
</body>
</html>