<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-page.css') }}">
    <title>User</title>
</head>
<body>
    <div class="smartphone">
        <p>Olá {{ user[0] }}</p>
        <a href="/"><button>Deslogar</button><a/>
        <form action="/delete-user" method="POST">
            <button type="submit">Deletar conta</button>
        </form>
    </div>
</body>
</html>